<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gianlu.aria2lib">

    <!-- Save downloads -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Foreground service on Android P+ -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <service
            android:name=".internal.Aria2Service"
            android:enabled="true" />

        <!-- Download aria2 binary activity -->
        <activity android:name=".ui.DownloadBinActivity" />

        <!-- Custom options editor activity -->
        <activity android:name="com.gianlu.aria2lib.ui.ConfigEditorActivity" />
    </application>
</manifest>
